/* CSS Document */
*{
	padding: 0;
	margin: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
html {
  scroll-behavior: smooth;
}
#wapper{
	width: 1920px;
	height: 4746px;
	background: white;
}
#header{
	width: 1920px;
	height: 90px;
	background: #3C2E2E;
	position: sticky;
  	top: 0;
	z-index: 99999;
}
.top{
	width: 1920px;
	height: 90px;
	background: #282828;
}
.menubar{
	width: 1920px;
	height: 90px;
	background: #d87457;
	text-align: center;
	padding: 0px 230px;
	box-sizing: border-box;
	
}
.size{
	width: 30px;
	padding: 7px 20px;
	background: #272727;
	position: absolute;
	border-radius: 5px;
	top:115px;
}

.logo{
	width: 135px;
	height: 90px;
	float: left;
	margin-top: 26px;
}
.logo img{
	width: 135px;
	height: auto;
}
.menu{
	float: right;
	text-align: center;
}
.menu ul{
	list-style: none;
	display: inline-block;
	margin-right: 5px;

}
.menu li{
	float: right;
	margin-left: 75px;
	
}
.menu a{
	text-decoration: none;
	color: white;
	padding: 4px 10px;
	font-size: 24px;
	line-height: 90px;
	transition: all 0.3s ease;

}
.menu li a:hover{
	border-radius: 5px;
	background: #222222;
}

#content{
	width: 1920px;
	height: 4330px;
	background: white;
	align-content: center;
}
.intro{
	width: 1920px;
	height: 690px;
	background: #B35A5C;
	padding-top: 190px;
	padding-left: 230px;
	box-sizing: border-box;
	background-image: url("../img/5e83f98bae1ad80129fcd7e5_wu-jianxiong-UniC8xhlzaE-unsplash.jpg") ;
	background-size: cover;
}

.waytosp{
	width: 1460px;
	height: 940px;
	padding: 95px 0px;
	margin-left: 230px;
	box-sizing: border-box;
}
.intro p{
	color: white;
}
.intro a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 5px 15px;
	border: 1px solid white;
	line-height: 80px;
	border-radius: 8px;
}
.intro a:hover{
	background: white;
	color: #262626;
	transition: all 0.3s ease;
}
.waytospi{
	width: 1460px;
	height: 74px;
	margin-bottom: 70px;
}
.left{
	float:left; 
}
.right{
	float: right;
}
.waytospbox{
	width:440px;
	height: 608px;
	float: left;
	margin-left: 70px;
}
.waybox{
	width: 440px;
	height: 440px;
	background: #272727;
	padding-left: 46px;
	padding-top: 66px;
	box-sizing: border-box;
	border-radius: 10px;
}
.waybox h1{
	color: white;
	font-size: 40px;
}
.waybox center{
	margin-left: -46px;
	padding: 0px;
	margin-top: 55px;
	
}
.keepsave{
	width: 1920px;
	height: 690px;
	padding-top: 190px;
	padding-right: 230px;
	box-sizing: border-box;
	background-image: url("../img/5e83fb3a6948e1f05b20527f_nathan-dumlao-pLoMDKtl-JY-unsplash.jpg");
	background-size:cover;
}
.keepsavebox{
	width: 630px;
	height: 200px;
	float: right;
	
}
.keepsave p{
	color: white;
	float: right;
}
.keepsave a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 5px 15px;
	border: 1px solid white;
	border-radius: 8px;
	float: right;
	margin-top: 300px;
}
.keepsave a:hover{
	background: white;
	color: #262626;
	transition: all 0.3s ease;
}

.product{
	width: 1460px;
	height: 1170px;
	padding-top: 88px;
	box-sizing: border-box;
	margin-left: 230px;
	text-align: center;
	padding-bottom: 120px;
}
.product h1{
	padding-bottom: 64px;
}
.product a{
	text-decoration: none;
	color: white;
	background: #272727;
	padding: 5px 20px;
	margin-top: 90px;
	border-radius: 4px;
}
.product a:hover{
	background: red;
}

.productbox{
	width: 473px;
	height: 730px;
	margin-left: 20px;
	text-align: center;
	float: left;
	margin-bottom: 70px;
}
.productbox img{
	width: 470px;
	height: 625px;
}
.productbox center{
	margin-top: 15px;	
}
.productbox center a{
	text-decoration: none;
	color: white;
	background: #eb5757;
	padding: 5px 20px;
	border-radius: 4px;
	line-height: 60px;
}
.productbox center a:hover{
	background: #272727;
}

.local{
	width: 1460px;
	height: 750px;
	margin-left: 230px;
}
.local img{
	position: absolute;
	margin-top: 40px;
}
.localb{
	width: 1174px;
	height: 664px;
	background: #272727;
	border-radius: 5px;
	float: right;
	padding-left: 455px;
	padding-right: 240px;
	padding-top: 70px;
	box-sizing: border-box;
}
.localb p {
	font-size: 16px;
	line-height: 24px;
	color: white;
}
.local h1{
	font-size: 45px;
	line-height: 54px;
	color: white;
}

#footer{
	width: 1920px;
	height: 230px;
	background: #282828;
	padding-top: 80px;
	padding-right: 230px;
	margin-top: 165px;
	box-sizing: border-box;
}
.logol{
	margin-left: 230px
}
.icon{
	float: right;
	margin-left: 25px;
}
.icon img{
	width: 39px;
	height: auto;
}
.icon img:hover{
	opacity: 0.7;
}


