/* CSS Document */
@import url(//fonts.googleapis.com/css?family=Oswald:400);
body {
  font-family: "Oswald", "Helvetica Newe", Helvetica, sans-serif;
}
*{
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;	
}
html {
  scroll-behavior: smooth;
}

#header{
	top:0;
	overflow: auto;
}
.menu{
	width: 1040px;
	height: 92px;
	margin-left:auto;
	margin-right: auto;
}

.menu ul{
	text-align: center;
	list-style: none;
	display: inline-block;
	margin-left: 190px;
}
.menu ul li{
	display: inline-block;
	line-height: 85px;
}
.menu a{
	margin-left: 30px;
	text-decoration: none;
	color: white;
}
.menu a:hover{
	opacity: 60%;
	color: #C1C1C1;
	text-decoration: none;
}
.logo{
	width: 92px;
	height: 92px;
	float: left;
}
.logo img{
	width: 100%;
}
.menuic{
	height: 92px;
	float: right;
}
.menu a{
	text-decoration: none;
	color: white;
	font-size: 110%;
}
.menuic ul{
	display: inline-block;
}
.menuic ul li{
	padding: 0;
	margin: 0;
}
.menuic a{
	display : inline-block;
	text-decoration: none;
	padding: 0;
	margin: 0;
	margin-left: 10px;
}
.menuic a:hover{
	opacity: 60%;
}
.containner{
	width: 1920px;
	overflow: auto;
	background: #0D0D0D;
}
.content1{
	height: 600px;
	width: 100%;
	background:#0D0D0D ;
	margin-bottom: 5px;
}
.content1 h1{
	font-size: 400%;
	color: white;
}
.content1 p{
	margin-top: 10px;
	font-size: 120%;
	color: white;
}
.design{
	float: left;
	width: 50%;
	height: 600px;
	padding-top:180px;
	box-sizing: border-box;
}




.design:hover p{
	font-size: 159%;
	transition-duration: 2s;
}
.design:hover h1{
	font-size: 450%;
	transition-duration: 2s;
}
.design:hover .visible {
	transition-duration: 2s;
	opacity: 100%;
	display: block;
	

}
.design:hover .box{
	transition-delay: 0.2s;
	width: 65%;
}
.design:hover .designbox{
	transition-delay: 1s;
	visibility:visible;
	animation: heartBeat 2.5s  ;
}
.design:hover .code .box p h1{
	display: none;
}
.designbox{
	width: 700px;
	height: 393.75px;
	background: #A79191;
	position: absolute;
	top: 20%;
	left: 45%;
 	visibility: hidden;
}
.designbox img{
	width: 700px;
	height: 393.75px;
}
.visible{
	display: none;
	opacity: 0%;
}
.box{
	width: 50%;
}
.code{
	float: right;
	width: 50%;
	height: 600px;
	padding-top:180px;
	box-sizing: border-box;
}
.code:hover p{
	font-size: 159%;
	transition-duration: 2s;
}
.code:hover h1{
	font-size: 450%;
	transition-duration: 2s;
}
.code:hover .visible{
	transition-duration: 2s;
	display: block;
}
.code:hover .box{
	transition-timing-function: linear;
	transition-delay: 0.2s;
	transition-duration: 0.7s;
	width: 60%;
}
.code:hover .codebox{
	transition-delay: 1s;
	visibility:visible;
	animation: heartBeat 2.5s ;
}
.codebox{
	width: 700px;
	height: 393.75px;
	position: absolute;
	top: 20%;
	left: 20%;
 	visibility: hidden;
}
.visible{
	display: none;
}

.content2{
	height: auto;
	width: 100%;
	box-sizing: #080808;
	margin-bottom: 5px;
}
.about{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: left;
	font-weight: bold;

}
.about p{
	font-size: 120%;
}
.content3{
	height: auto;
	width: 100%;
	margin-bottom: 5px;
}
.content3 h1 p{
	font-size: 200%;
}

.codepart{
	width: 50%;
	float: right;
}
.content4{
	height: 500px;
	width: 100%;
	margin-bottom: 5px;
	overflow: auto;
}
.imgbox{
	width: 20%;
	height: auto;
	padding: 50px;
	float: left;
}.imgbox a{
	width: 100%;
	height: auto;
}
.box2{
	background: #929292;
	height: 400px;
	width: 400px;
	position: absolute;
	left: 37%;
}
#footer{
	height: auto;
}
.someting{
	width: 50%;
	margin-left:auto;
	margin-right: auto;
}
.someting h2{
	color: white;
	display: inline-block;
	width: 50%;
}
.containner1{
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;	
}
.pink h1{
	color:#e0284c;
	font-size: 160%;
}
.fixx{
	color:white;
}
.fixx h2{
	margin-top: 50px;
	margin-bottom: 30px;
}
.fixx ul{
	text-decoration: none;
	list-style: none;
}
.fixx a{
	color: white;
}
.fixx li{
	padding: 10px;
}
.fixx li:hover a{
	color: #C5C5C5;
	text-decoration: none;
	letter-spacing :5px;
	transition: all 0.3s ease;
}
.boxx{
	margin-left: 440px;
	width: 20%;
	color: white;
	margin-top: 50px;
	display: inline-block;
}
